
.registration .accordion-button:focus {
box-shadow: none!important;
}
/* .about-image{
    object-fit: cover;
    height:300px;
    overflow: hidden;
} */

/* awards */
.award-card{
    position:relative;
    padding:10px;
}
.award-ribbon{
    position: absolute;
    top:0px;
    left:10px;


}
.venue iframe{
width:100%;
}
/* party */
.party-section{
    height:250px;
    overflow: hidden;
}
.party-section img{
    box-sizing: border-box;
object-fit: cover;
width:100%;

}
/* partners */
.partners img{
    height:80px;
    width:180px;

}
.partners{
    background-color: black;
}
@media(max-width:1000px){
    .party-section{
        height:auto;
    }
    .party-section img{
        height:300px;
    }
}
  
@media(max-width:576px){
    .award-row{
        --bs-gutter-x: 0 rem !important;
    }
    .partner-logo{
        justify-content: center !important;
    }
    .partners img{
        margin:20px;

    }
}

